{% extends 'blog/base.html' %}
{% block content %}

<div class=" content-section"> 
    <p>
    <strong><u>INTRODUCTION</u></strong><br>
    Recommendation System belongs to the class of Information Retrieval,
    Data Mining and Machine Learning. Recommender systems play a major
    role in today's ecommerce industry. Recommender systems recommend
    items to users such as books, movies, videos, electronic products and
    many other products in general.
    Recommendation engines provide personalization. There are different
    types of recommender systems such as content-based, collaborative
    filtering, hybrid recommender system, demographic and keyword-based
    recommender system. Variety of algorithms are used by various
    researchers in each type of recommendation system.
    Recommendation systems imitate this social process to enable quick
    filtering of the information on the web.
    Lots of companies try to offer services that involve recommendations to
    address the right user groups.
    So, we are also building a community along with the help of dataset of
    reviews from user’s so that the user does not even have a single doubt
    whether they should go for a particular movie or not.
    </p>
    
    <br><br><u><strong>PROBLEM STATEMENT</strong></u>
    <ul><li>Now a days information is overloaded, there is a huge amount of data everywhere but to know exactly which type of information is required by the user></li>
    <li>Recommendation systems are used which work according to user input and only suggest the information related to the user requirement and interest.</li>
    <li>The basic Concept is to provide the information that is needed out of all data</li>
    <li>Information overload problem is solved by search engines, but they do not provide personalization of data.</li>
    </ul>
    <br><br><strong><u>OBJECTIVE</u></strong>
    <p>
    <ul><li>To develop a Data Science end-to-end project and implementing it as a web app, and deploying on Heroku.</li>
    <li>To create a Movie Recommendation System to give best recommendation of movies to user so that he/she don’t have to go to any search engine or any other movie site for getting information regarding movies of their interests.</li>
    <li>With the help of movie datasets and the user ratings from around the globe we are giving our user the best recommendation of movies of every genre, so that they can certainly give it a shot without any second doubt.</li>
    <li>Apart from that we are also building a community with proper user authentication and user profile feature where users can chat and discuss among themselves about movies and give their reviews and ideas to others whether they should go for it or not.</li></ul>
        </p>
        
    <br><br><strong><u>TOOLS, PLATFORM AND REQUIREMENTS</u></strong>
    <p>
    Movies Dataset: Movie Lens, Kaggle, UCI Repository
    <br><u>Python Libraries:-</u>
    <br>Pandas: Data handling and exploratory data analysis (huge dataframes)
    <br>NumPy: Numerical processing and math operations
    <br>Matplotlib and Seaborn: Data visualization
    <br>Scikit Learn: Machine learning and algorithms
    <br>NLTK: Natural Language Processing
    <br><u>Web Technologies :-</u>
    <br>Frontend: Html, CSS, JS, bootstrap
    <br>Backend: Django Framework
    <br>Deployment: Heroku
    <br>IDE: Spyder, VS Code and Jupyter notebook</p>
    </div>    

{% endblock content %}