{% extends 'blog/base.html' %} {% block content %}

<div class="content-section" align="center">
    <div style="background-color: dimgray;color:floralwhite; border-radius:3%;">
        <br>
        <h3 style="color: floralwhite;">Our Guide</h3>
        <a href="https://scholar.google.com/citations?hl=en&authuser=1&user=fRF_DzwAAAAJ" target="blank"><img style="border-radius: 77%;" width="30%" src="https://www.jimsd.org/images/faculty/Deepakk.jpg"></a>

        <br><br><strong> Deepak Sharma </strong><br> Assistant Professor<br> IT Department<br> JIMS VK<br> Experience: 15+ years<br>
        </a>
        <br>
    </div>
    <br><br>

    <h1>Our Team</h1>
    <b>"Talent wins games, but teamwork and
		intelligence win championships."</b>
    <br><br>

    <div class="row">
        <div class="column">
            <a href="https://www.linkedin.com/in/abhishek-sharma-735a9a16a/" target="blank"><img style="border-radius: 50%; width:50%;" alt="team" src="https://i.ibb.co/Wz05y53/abhi.png"></a>
            <h5>Abhishek Sharma</h5>
            <p>Blockchain Explorer</p>
        </div>
        <div class="column">
            <a href="https://www.linkedin.com/in/keshav~gupta/" target="blank"><img style="border-radius: 50%; width:55%;" alt="team" src="https://i.ibb.co/2kTPd5S/Whats-App-Image-2020-06-01-at-6-06-23-PM.jpg"></a>
            <h4>Keshav Gupta</h4>
            <p>AI Enthusiast</p>
        </div>
        <div class="column">
            <a href="https://www.linkedin.com/in/debaditya99/" target="blank"><img style="border-radius: 50%; width:50%;" alt="team" src="https://i.ibb.co/fr988yH/Whats-App-Image-2020-11-11-at-6-59-26-PM-1.jpg"></a>
            <h5>Debaditya Mandal</h5>
            <p>Professional Gamer</p>
        </div>
    </div>
    <br>

</div>

{% endblock content %}